<?xml version="1.0" encoding="utf-8"?>

<log4net>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="RollingFileAppender" />
	</root>
	<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs\\" />
		<!-- Subfolder "logs" -->
		<rollingStyle value="Date" />
		<datePattern value="yyyy-MM-dd" />
		<maxSizeRollBackups value="30" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>
</log4net>